#footer.row {
    position: relative;
    #footer-child {
        text-align: center;
        bottom: 5px;
        margin: 0;
        position: absolute;
        width: 100%;
    }

    i {
        color: green;
    }

    img {
        width: 150px;
        margin: 0 10px;
    }
}