#footer.row {
    width: 100%;
    position: relative;
    #footer-child {
        text-align: center;
        bottom: 5px;
        margin: 10px;
        position: absolute;
        width: 100%;
    }

    i {
        color: green;
    }

    img {
        width: 150px;
        margin: 0 10px;
        @media screen and (max-width: 450px) {
            width: 70px;
        }
    }
}