.dashboardTextSize
{
  font-size: 400%;
}

.dashboardNumberSize {
  margin-top: 20px; font-size: 300%;
}

.dashboardFaSize {
  font-size: 500%
}

@media (max-width: 700px) {

  .dashboardTextSize
  {
    font-size: 200%;
  }

  .dashboardNumberSize {
    margin-top: 20px; font-size: 150%;
  }

  .dashboardFaSize {
    font-size: 250%
  }
}