.dashboardTitleSize
{
  font-size: 400%;
}

.dashboardTextSize
{
  margin-top: 20px;
  font-size: 150%;
}
.dashboardNumberSize {
  font-size: 300%;
}

.dashboardFaSize {
  font-size: 500%
}

@media (max-width: 700px) {

  .dashboardTitleSize
  {
    font-size: 200%;
  }

  .dashboardTextSize{
    font-size: 100%;
  }

  .dashboardNumberSize {
    margin-top: 20px; font-size: 120%;
  }

  .dashboardFaSize {
    font-size: 250%
  }
}